#app {
  --space-1: 0.5rem;
  --space-2: calc(var(--space-1) * 2);
  --space-3: calc(var(--space-1) * 3);
  --space-4: calc(var(--space-1) * 4);

  max-width: 1280px;
  margin: 0 auto;
  padding: var(--space-4);
  text-align: center;
}
